/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
.env
.phpunit.result.cache

/database/*.sqlite

/bootstrap/cache/*.php
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/*.key
/.phpunit.cache
